{cover_enabled, true}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{erl_opts, [debug_info]}.
{deps,
 [{json,
   {git, "https://github.com/galdor/erl-json.git", {tag, "v1.3.0"}}},
  {uuid,
   {git, "https://github.com/galdor/erl-uuid.git", {tag, "v1.0.0"}}},
  {ksuid,
   {git, "https://github.com/exograd/erl-ksuid.git", {tag, "v1.1.1"}}}]}.
{shell, [{apps, [jsv]}]}.
